.ui.container
  .column.wide.sixteen
    .ui.segment
      .ui.four.statistics
        .statistic
          .value
            356
          .label
            Jobs
        .statistic
          .value
            87
          .label
            GB Total
        .statistic
          .value
            2
          .label
            Failed Jobs
        .statistic
          .value
            354
          .label
            Successfull Jobs
