.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.text.container
    %h1.ui.inverted.header Video Transcoding
    %h2 The easy way.
    = link_to 'get started', '', class: 'ui huge button inverted'
.ui.vertical.stripe.segment
  .row
    .eight.wide.column
      %h3.ui.header
