.sixteen.wide.column
  %h3.ui.huge.header= @app.name

  .ui.list
    .item
      .content
        .header Url
        .description= @app.url
    .item
      .content
        .header Access token
        .description= @app.access_token
